@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.navbar{
    margin-top: 20px;
}
.navbar-brand img{
    width: 155px;
    height: 70px;
}

.nav-item{
    margin-left: 25px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:orange;
}

/* .navbar-light .navbar-nav .nav-link.active{
    color: orange;
} */

.carousel-item{
    padding: 0px 10px;
    margin-left: 10px;
    margin-bottom: 60px;
}

.row .col-md-5 h1{
    margin-bottom: 0px;
}

.row .col-md-5 p{
    color: #707070;
    font-weight: 300;
    line-height: 2;
    margin: 0;
    padding: 20px 0px;
    padding-bottom: 30px;
}

.buy-now-button{
    background-color: black;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
}



.carousel .carousel-indicators button{
    background-color:grey;
    
    width: 50px;
    
}

.carousel .carousel-indicators .active {
    background-color: orange;
}

.bg-img img{
    width: 130px;
    height: 110px;
    position: relative;
    top: -100px;
}

.smartphone{
    padding: 0px 10px;
    margin-left: 10px;
}

.smartphone .heading h2, .smartphone .heading h5{
    padding: 30px 0px;
}

.smartphone .heading a {
    color: orange;
    text-decoration: none;
}

.card{
    padding: 40px 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px lightgray;
}
.card img{
    padding: 0px 70px;
    margin-bottom: 20px;
}

.card .card-body .card-title,h4{
    margin-bottom: 15px;
}

.card-text:last-child{
    margin-bottom: 15px;
}

.card-body p{
    text-align:center;
    font-size: 11pt;
    color: #707070;
    

}

.card-footer{
    background-color: white;
    border-top: none;
}
.extra-height{
    height: 500px;
    
}